<title><%= adress %></title>
<h1>Sorry!</h1>
<h2>Page are you looking for doesn't exist</h2>
<p>HostWeb v<%= version %></p>
<style>
    @font-face {
    font-family: 'CustomFont'; /* Nazwa czcionki */
    src: url('../assets/fonts/leaguespartan.ttf') format('truetype'); /* Lokalizacja pliku czcionki */
    }

    body {
        font-family: 'CustomFont', sans-serif; /* Użycie czcionki na całej stronie */
    }
</style>